In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
## Hierarchical indexing
data = pd.Series(np.random.randn(9),
                    index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                           [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -1.589364
   2    1.154161
   3    2.096472
b  1   -0.657235
   3   -0.337489
c  1   -1.063830
   2    0.223525
d  2   -0.364679
   3   -1.562722
dtype: float64

In [4]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [5]:
data.unstack()

          1         2         3
a -1.589364  1.154161  2.096472
b -0.657235       NaN -0.337489
c -1.063830  0.223525       NaN
d       NaN -0.364679 -1.562722

In [6]:
data.unstack().stack()

a  1   -1.589364
   2    1.154161
   3    2.096472
b  1   -0.657235
   3   -0.337489
c  1   -1.063830
   2    0.223525
d  2   -0.364679
   3   -1.562722
dtype: float64

In [7]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [8]:
frame.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [ ]:
## combine and merge data

## pandas.merge
## pandas.concat

In [ ]:
## reshape and pivoting

## df.stack
## df.unstack
## df.piovt
## df.melt