In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
## handling missing data

string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

## missing data stands for data not avaliable (na)

## na data handling function
## dropna
## fillna
## isnull
## notnull

In [4]:
string_data.dropna()

0     aardvark
1    artichoke
3      avocado
dtype: object

In [5]:
string_data.fillna('artichoke')

0     aardvark
1    artichoke
2    artichoke
3      avocado
dtype: object

In [6]:
## Data transformation

## duplicated
## drop_duplicates
## map

In [9]:
## Discretization and Binning

ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]

cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [10]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [11]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [12]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [13]:
## Detecting and Filtering Outliers

data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.064997     0.039068     0.010610    -0.008878
std       0.956131     0.971064     1.004483     1.051290
min      -2.922310    -3.510940    -3.562023    -3.336444
25%      -0.604342    -0.623590    -0.630203    -0.722685
50%       0.070337     0.090365    -0.008872     0.014119
75%       0.724594     0.703655     0.711905     0.626947
max       2.793595     3.601584     3.252886     3.618502